/* main styles */
:root {
  /**
   * === Colors ===
   */
   --color-main-text: rgba(255, 255, 255, 0.87);
  /**
   * === Spacings ===
   */

  /**
   * === Sizes ===
   */

  /**
   * === Layout ===
   */

  /**
   * === Fonts ===
   */

  /**
   * === Animations ===
   */

  /**
   * === Borders ===
   */

  /**
   * === Shadows ===
   */
}