@tailwind base;
@tailwind components;
@tailwind utilities;

/* ====== Общие стили ====== */

:root {
  color-scheme: light dark;
  color: var(--color-main-text);
  background-color: var(--color-main-background);
  font-size: var(--font-size-medium);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  display: none !important;
}

.app {
  @apply w-screen h-screen flex;
}

.servers_block {
  @apply w-[80px] h-full flex flex-col items-center justify-start bg-[var(--color-background-servers-list)];
}

.servers_list {
  min-height: calc(100% - 60px);
  @apply w-[80px] h-max flex flex-col items-center justify-start;
}

.server_list_element {
  @apply w-[60px] h-[60px] rounded-[var(--border-radius-base)] bg-[var(--color-background-primary-gray)] hover:bg-[var(--color-background-primary-gray-hover)] my-[var(--spacing-ml)] cursor-pointer relative bg-cover bg-center;
}

.current_server_element::before {
  content: '';
  @apply absolute w-[5px] h-[100%] top-0 left-[-10px] bg-[var(--color-background-primary-blue)] rounded-r-[var(--border-radius-base)];
}

.join_server {
  background-image: url('/search.svg');
  @apply bg-[var(--color-background-primary-blue)] hover:bg-[var(--color-background-primary-blue-hover)];
}

.create_server {
  background-image: url('/add.svg');
  @apply bg-[var(--color-background-primary-blue)] hover:bg-[var(--color-background-primary-blue-hover)];
}

.element_info {
  @apply w-max h-[48px] rounded-[var(--border-radius-base)] invisible bg-[var(--color-background-primary-gray-hover)] absolute top-[6px] left-[117%] z-[1] text-[16px] p-[var(--spacing-small)] flex items-center justify-center;
}

/* Треугольник внизу всплывающей подсказки */
.element_info::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -9px;
  transform: translateY(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--color-background-primary-gray-hover) transparent transparent;
}

.server_list_element:hover .element_info {
  @apply visible;
}

.server_components_block {
  height: calc(100% - 120px);
  @apply w-[230px] bg-[var(--color-background-server-content)] p-[var(--spacing-ml)];
}

.server_name {
  white-space: nowrap;
  @apply w-full h-[48px] flex items-center justify-start text-[var(--font-size-large)] text-ellipsis overflow-hidden border-b-[1px] mb-[var(--spacing-ml)];
}

.server_category {
  @apply cursor-pointer;
}

.category_header {
  user-select: none; /* Отключает выделение текста */
  @apply flex rounded-[var(--border-radius-base)] justify-between items-center italic p-[var(--spacing-micro)] hover:bg-[--color-background-server-content-hover];
}

.toggle_icon {
  font-size: var(--font-size-primary);
  transition: transform var(--animation-duration-medium);
}

.channel_list {
  list-style-type: none;
  @apply m-0 block p-[var(--spacing-micro)];
}

.channel_item {
  @apply h-max rounded-[var(--border-radius-base)] cursor-pointer flex flex-col items-center justify-start;
}

.channel_name {
  @apply h-[24px] flex items-center justify-start hover:bg-[--color-background-server-content-hover];
}

.profile {
  @apply w-full h-[60px] bg-[--color-background-profile];
}

.profile_wrapper {
  @apply w-full h-full flex items-center justify-center;
}

.profile_container {
  @apply w-full h-full flex items-center justify-center;
}

.profile_avatar {
  @apply w-[42px] h-[42px] rounded-full bg-cover bg-center cursor-pointer hover:brightness-75 transition duration-[--animation-duration-fast];
}

.profile_name {
  @apply w-[100px] text-[16px] truncate max-w-[90px] ml-[var(--spacing-micro)];
}

.profile_buttons {
  @apply w-[72px] h-[48px] flex items-center justify-between;
}

.profile_buttons svg:hover {
  cursor: pointer;
}

.profile_buttons svg:hover path {
  fill: var(--color-svg-fill-red) !important;
}

svg.muted path {
  fill: var(--color-svg-fill-red) !important;
}

.user_list {
  @apply w-full h-max pl-[var(--spacing-xxl)];
}

.user_in_channel {
  @apply w-full h-[30px] flex items-center justify-start mt-[var(--spacing-m)] mb-[var(--spacing-m)] hover:bg-[--color-background-server-content-hover];
}

.user_in_channel_avatar {
  @apply w-[26px] h-[26px] rounded-full mr-[var(--spacing-small)] bg-cover bg-center border-[2px] border-[var(--color-background-server-content)];
}

.speaking .user_in_channel_avatar {
  box-sizing: border-box;
  @apply border-[2px] border-[var(--color-border-speaker)];
}

.user_in_channel_name {
  @apply truncate max-w-[100px];
}

.media_tracks {
  @apply w-full h-full flex flex-col items-center justify-center;
}

.consumers_media {
  height: calc(100% - 280px);
  @apply w-full flex flex-col items-center justify-center;
}

.myMedia {
  @apply w-full h-[280px] flex items-center justify-around border-[var(--color-background-primary-gray)] border-t-4;
}

.videoContainer {
  /* 16/9 */
  @apply w-[320px] min-h-[180px] h-[240px] rounded-[var(--border-radius-base)] bg-[var(--color-background-modal)] relative mr-[var(--spacing-small)] mb-[var(--spacing-small)] overflow-hidden;
}

.remoteVideo {
  @apply w-full h-auto;
}

.playVideoBtn {
  transform: translate(-50%, -50%);
  @apply absolute top-[50%] left-[50%] rounded-full bg-[var(--color-background-secondary-blue)] px-[var(--spacing-small)] py-[var(--spacing-micro)] font-semibold;
}

.playVideoBtn:hover {
  @apply bg-[var(--color-background-primary-blue)];
}

.pauseVideoBtn {
  transform: translate(-50%, 0);
  white-space: nowrap;
  @apply absolute bottom-[2%] left-[50%] rounded-full bg-[var(--color-svg-fill-red)] z-[-1] px-[var(--spacing-small)] py-[var(--spacing-micro)];
}

.videoContainer:hover .pauseVideoBtn {
  @apply z-[1];
}

.fullscreenBtn {
  @apply absolute bottom-[2%] left-[90%] z-[-1] w-[24px] h-[24px];
}

.videoContainer:hover .fullscreenBtn {
  @apply z-[1];
}

.remoteAudio {
  @apply hidden;
}

.settings {
  @apply w-[60px] h-[60px] flex items-center justify-center cursor-pointer;
}

.settings:hover svg path {
  fill: var(--color-svg-fill-primary-hover) !important;
}

/* Базовые стили для модального окна */
.modal {
  @apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-50;
}

.modal-content {
  background-color: var(--color-background-modal);
  border-radius: var(--border-radius-base);
  @apply p-[var(--spacing-modal-content)] w-96;
}

/* ====== Стили для заголовков ====== */
.modal-header {
  @apply flex justify-center mb-[var(--spacing-ml)];
}

.modal-header-auth {
  @apply flex justify-between mb-[var(--spacing-ml)];
}

/* ====== Базовые стили для формы ====== */
.modal-form {
  @apply space-y-4;
}

/* Поля ввода */
.modal-input {
  @apply w-full rounded-[var(--border-radius-base)] p-[var(--spacing-small)] mt-[var(--spacing-micro)] bg-[var(--color-background-primary-gray-hover)] focus:outline-none;
}

/* Поля выбора файлов */
.modal-input-file {
  @apply file:bg-[var(--color-background-primary-gray)] file:text-white file:border-none file:rounded-md file:px-[var(--spacing-ml)] file:py-[var(--spacing-small)] hover:file:bg-[var(--color-background-primary-gray-hover)];
}

/* Поля диапазона (range) */
.modal-range {
  @apply w-full cursor-pointer;
}

/* Выпадающий список (select) */
.modal-select {
  @apply w-full rounded-[var(--border-radius-base)] p-[var(--spacing-small)] bg-[var(--color-background-primary-gray-hover)];
}

/* ====== Стили для кнопок ====== */
.button {
  @apply w-full p-[var(--spacing-small)] rounded-[var(--border-radius-base)] focus:outline-none mt-[var(--spacing-ml)];
}

/* Основные кнопки */
.button-primary {
  @apply bg-[var(--color-background-primary-blue)] hover:bg-[var(--color-background-primary-blue-hover)];
}

.button-secondary {
  @apply bg-[var(--color-background-primary-gray)] hover:bg-[var(--color-background-primary-gray-hover)] text-sm mt-[var(--spacing-ml)];
}

/* Таб-кнопки для переключения форм */
.button-tab {
  @apply px-[var(--spacing-ml)] py-[var(--spacing-small)] text-xl font-semibold cursor-pointer border rounded-[var(--border-radius-base)] focus:outline-none;
}

.button-tab-active {
  @apply bg-[var(--color-background-secondary-blue)] border-[var(--color-border-secondary-blue)];
}
/* TODO: pcss */
.button-tab-inactive {
  @apply text-blue-400 bg-gray-200 border-gray-300; 
}

.button-tab-inactive:hover {
  @apply bg-blue-100 text-[var(--color-background-primary-blue)];
}

/* ====== Стили для изображений ====== */
.preview-image {
  @apply w-32 h-32 rounded-full object-cover;
}

/* ====== Контейнеры ====== */
/* Контейнер для настроек */
.modal-container {
  @apply mb-[var(--spacing-ml)];
}

/* Контейнеры для форм */
.form-container {
  @apply mt-[var(--spacing-ml)];
}

.preview-container {
  @apply flex justify-center items-center mt-[var(--spacing-ml)];
}

/* Элемент сервера: выравнивание название-кнопка */
.server-item {
  @apply flex justify-between rounded-[var(--border-radius-base)] items-center p-[var(--spacing-small)] bg-[var(--color-background-primary-gray-hover)] mt-[var(--spacing-small)];
}

/* Название сервера с выравниванием слева */
.server-name {
  @apply truncate text-sm mr-[var(--spacing-ml)]; /* Убираем длинный текст */
}

/* Кнопка присоединения */
.button-small {
  @apply px-[var(--spacing-m)] py-[var(--spacing-micro)] text-xs rounded-[var(--border-radius-base)] bg-[var(--color-background-primary-blue)] hover:bg-[var(--color-background-primary-blue-hover)];
}

/* Состояние ожидания для кнопки */
.button-wait {
  @apply px-[var(--spacing-m)] py-[var(--spacing-micro)] text-xs bg-[var(--color-background-secondary-gray)] cursor-not-allowed rounded-[var(--border-radius-base)];
}

/* Успешное состояние кнопки */
.button-success {
  @apply px-[var(--spacing-m)] py-[var(--spacing-micro)] text-xs cursor-not-allowed bg-[var(--color-background-primary-green)] rounded-[var(--border-radius-base)];
}

/* Ошибочное состояние кнопки */
.button-error {
  @apply px-[var(--spacing-m)] py-[var(--spacing-micro)] text-xs cursor-not-allowed bg-[var(--color-background-primary-red)] rounded-[var(--border-radius-base)];
}

/* MediaControls */
/* NetworkIndicator */
.networkIndicator {
  @apply flex items-center space-x-1 px-2 py-1 rounded-[var(--border-radius-base)];
}

.bar1 {
  @apply w-[var(--spacing-small)] h-2 bg-[var(--color-background-primary-green)] rounded-full;
}

.bar2 {
  @apply w-[var(--spacing-small)] h-4 bg-[var(--color-background-primary-green)] rounded-full;
}

.bar3 {
  @apply w-[var(--spacing-small)] h-6 bg-[var(--color-background-primary-green)] rounded-full;
}

.send_track {
  @apply px-[var(--spacing-small)] py-[var(--spacing-micro)] hover:bg-[var(--color-background-primary-gray)] rounded-[var(--border-radius-base)];
}

.stream_on {
  @apply bg-[var(--color-background-primary-gray)];
}

.leave_button {
  @apply px-[var(--spacing-small)] py-[var(--spacing-micro)] rounded-[var(--border-radius-base)];
}

.leave_button:hover {
  animation: shake var(--animation-duration-medium) ease-in-out; /* Длительность и плавность */
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
